.popoverContent {
  --onboarding-tour-popover-content-stepper-icon-size: 16px;
  position: relative;
}

/* Stepper */
.stepIcon {
  border-width: 2px;
  min-width: var(--onboarding-tour-popover-content-stepper-icon-size);
  width: var(--onboarding-tour-popover-content-stepper-icon-size);
  min-height: var(--onboarding-tour-popover-content-stepper-icon-size);
  height: var(--onboarding-tour-popover-content-stepper-icon-size);
  font-size: 0;
}

.separator {
  margin: 0 0px;
  height: 4px;
}
